{% load static %}
{% include "Patient/section/head.html" %}
<body class="skin-blue">
    <div class="wrapper"> 
        {% include "Patient/section/header.html" %}
        {% include "Patient/section/menugauche.html" %}

        <!-- Contenu -->
        <div class="content-wrapper">
            <section class="content-header">
                <h1>Documents Médicaux</h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Accueil</a></li>
                    <li class="active"><i class="fa fa-file-pdf-o"></i> Documents Médicaux</li>
                </ol>
            </section>

            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <!-- Titre -->
                            <div class="box-header">
                                <h3 class="box-title">Liste des documents médicaux</h3>
                            </div>
                            <!-- Tableau -->
                            <div class="box-body">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Date de création</th>
                                            <th>Image</th>
                                            <th>Téléchargement</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for document in documentmedicals %}
                                            <tr>
                                                <td>{{ document.description }}</td>
                                                <td>{{ document.created_at }}</td>
                                                <td><img src="{{ document.image.url }}" alt="Image du document" style="width: 30px; height: 50px;"></td>
                                                <td><a href="{{ document.image.url }}" class="btn btn-success"><i class="fa fa-download"></i> Télécharger</a></td>
                                            </tr>
                                        {% empty %}
                                            <tr>
                                                <td colspan="4" class="text-center text-danger">Aucun document trouvé</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if documentmedicals.has_previous %}
                                            <a href="?page=1">&laquo; première</a>
                                            <a href="?page={{ documentmedicals.previous_page_number }}">précédente</a>
                                        {% endif %}
                                        <span class="current">
                                            Page {{ documentmedicals.number }} sur {{ documentmedicals.paginator.num_pages }}.
                                        </span>
                                        {% if documentmedicals.has_next %}
                                            <a href="?page={{ documentmedicals.next_page_number }}">suivante</a>
                                            <a href="?page={{ documentmedicals.paginator.num_pages }}">&raquo; dernière</a>
                                        {% endif %}
                                    </span>
                                </div>
                                
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </section>
        </div>

        {% include "Patient/section/footer.html" %}
    </div><!-- ./wrapper -->
    {% include "Patient/section/script.html" %}
</body>
</html>
