{% load static %}
{% include "vitrine/section/head.html" %}

<body class="index-page">
  {% include "vitrine/section/header.html" %}


 

  <main class="main">
    <section id="hero" class="hero section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <div class="row align-items-center mb-5">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="badge-wrapper mb-3">
                <div class="d-inline-flex align-items-center rounded-pill border border-accent-light">
                    <div class="icon-circle me-2">
                    <i class="bi bi-bell-fill"></i>
                    </div>
                    <span class="badge-text me-3">Solution innovante</span>
                </div>
                </div>
                <h1 class="hero-title mb-4">Digitalisez votre Hôpital/Clinique.</h1>
                <p class="hero-description mb-4">Créer un parcours de soins. Optimisez la coordination des soins. Améliorez la prise en charge.</p>
                <ul class="hero-description mb-4">
                <li><i class="bi bi-check-circle-fill"></i>Une solution adaptée à votre structure et mode d'exercice</li>
                <li><i class="bi bi-check-circle-fill"></i>Une solution 100% personnalisable, adaptée à votre activité</li>
                <li><i class="bi bi-check-circle-fill"></i>Une mise en place clé en main, simple et rapide</li>
                <li><i class="bi bi-check-circle-fill"></i>Le plus haut niveau de protection des données de santé</li>
                <li><i class="bi bi-check-circle-fill"></i>Accessible où que vous soyez, quand vous voulez</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="hero-image">
                <img src="{% static 'vitrine/assets/img/test.png' %}" 
                    alt="Solutions e-santé innovantes" 
                    class="img-fluid" 
                    loading="lazy"
                    style="width: 400px; height: auto; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.2); object-fit: cover;">
                </div>
            </div>
            </div>

        </div>
    </section>

    <section id="about" class="about section">

    <div class="container">

        <div class="row gy-4">

        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>Mettez en place votre système d'information médicale</h3>
            <p class="fst-italic mb-4">
            <ul class="list-unstyled mb-4">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Digitalisez et centralisez vos dossiers médicaux patients</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Construisez votre parcours de soins sur mesure</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Améliorez la traçabilité de vos soins</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Personnalisez votre solution</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Accédez à la solution où que vous soyez</li>
            </ul>
            </p>
        </div>

        <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
            <div class="col-lg-6">
                <img src="{% static 'vitrine/assets/img/img1.jpg' %}" class="img-fluid rounded" alt="Portrait équipe">
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>

    <section id="about1" class="about section">

        <div class="container">
    
        <div class="row gy-4">
    
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <h3>Réalisez des economies</h3>
            <p class="fst-italic mb-4">
                <ul class="list-unstyled mb-4">
                    <li><i class="bi bi-check-circle-fill text-success me-2"></i> Déployer la solution rapidement et facilement</li>
                    <li><i class="bi bi-check-circle-fill text-success me-2"></i> Supprimez vos coûts d'infrastructure</li>
                    <li><i class="bi bi-check-circle-fill text-success me-2"></i> Sans installation, aucune maintenance, sauvegarde automatique en cloud</li>
                    <li><i class="bi bi-check-circle-fill text-success me-2"></i> Sécurisez vos données</li>
                </ul>
            </p>
            </div>
    
            <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
                <div class="col-lg-6">
                <img src="{% static 'vitrine/assets/img/img1.jpg' %}" class="img-fluid rounded" alt="Portrait équipe">
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <section id="about2" class="about section">

        <div class="container">
      
          <div class="row gy-4 align-items-center">
      
            <!-- Contenu texte -->
            <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
              <h3>Gérez vos médecins en temps réel</h3>
              <p class="mb-4">
                Optimisez la gestion de vos équipes médicales grâce à notre solution intuitive et efficace.
              </p>
              <ul class="list-unstyled mb-4">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Suivi des rendez-vous en temps réel</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Supervision de l’activité des équipes médicales</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Répartition optimisée des tâches</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i> Amélioration de la productivité globale</li>
              </ul>
            </div>
      
            <!-- Image -->
            <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">
                <div class="col-lg-12">
                  <img src="{% static 'vitrine/assets/img/img1.jpg' %}" class="img-fluid rounded shadow" alt="Équipe médicale">
                </div>
              </div>
            </div>
      
          </div>
        </div>
      
      </section>
      

      
      

  </main>

   <!-- FOOTER -->
    {% include "vitrine/section/footer.html" %}
    <!-- END FOOTER -->

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vitrine/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vitrine/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vitrine/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vitrine/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vitrine/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vitrine/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vitrine/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>


  <!-- Main JS File -->
  <script src="{% static 'vitrine/assets/js/main.js' %}"></script>

</body>

</html>