<footer class="main-footer bg-light">
  <div class="container-fluid">
    <div class="row">
      <!-- Infos gauche -->
      <div class="col-md-6">
        <strong>&copy; 2025 Centre Médical Numérique.</strong> Tous droits réservés.
        <br>
        <small>
          Propulsé par le Département Informatique - Santé Numérique.
        </small>
      </div>

      <!-- Infos droite -->
      <div class="col-md-6 text-right hidden-xs">
        <b>Version</b> 1.0 | 
        <a href=""><i class="fa fa-question-circle"></i> Aide</a> |
        <a href=""><i class="fa fa-envelope"></i> Contact Admin</a>
      </div>
    </div>
  </div>
</footer>
