{% load static %}
<header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo"><b>YOONU SANTE</b></a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">{{ full_name }}</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header">
                        {% if image %}
                            <img src="{{ image }}" alt="Admin">
                        {% else %}
                            <img src="{% static 'img/photo-indisponible.webp' %}" alt="Admin par défaut">
                        {% endif %}
                        <p>
                            {{ full_name }} - Patient<br>
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <a href="{% url 'profil' %}" class="btn btn-outline-primary">Profil</a>
                        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Déconnexion</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    </nav>
  </header>