{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Administrateur| Accueil</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="{% static 'admin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <link href="{% static 'admin/dist/css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/plugins/iCheck/flat/blue.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/plugins/morris/morris.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/plugins/datepicker/datepicker3.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/plugins/daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}" rel="stylesheet" type="text/css" />   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="{% static 'admin/plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/plugins/datatables/dataTables.bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/dist/css/AdminLTE.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'admin/dist/css/skins/_all-skins.min.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet" type="text/css" />
    {% csrf_token %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.0/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="{% static 'admin/css/dashbord.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="{% static 'admin/css/footer.css' %}" rel="stylesheet" type="text/css" />
  </head>
</html>