{% load static %}

<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <p class="who-we-are text-uppercase text-primary fw-bold mb-2">Qui sommes-nous ?</p>
        <h3>Faciliter l’accès et le partage sécurisé des données médicales</h3>
        <p class="fst-italic mb-4">
          Notre solution innovante permet aux patients et professionnels de santé de consulter et partager facilement les dossiers médicaux, tout en garantissant la confidentialité et la sécurité des informations.
        </p>
        <ul class="list-unstyled mb-4">
          <li><i class="bi bi-check-circle-fill text-success me-2"></i> Accès rapide et sécurisé aux informations médicales.</li>
          <li><i class="bi bi-check-circle-fill text-success me-2"></i> Partage simplifié entre patients, médecins et établissements de santé.</li>
          <li><i class="bi bi-check-circle-fill text-success me-2"></i> Conformité aux normes de confidentialité et protection des données.</li>
        </ul>
        <a href="#how-we-work" class="read-more text-decoration-none fw-semibold">
          <span>En savoir plus</span> <i class="bi bi-arrow-right"></i>
        </a>
      </div>

      <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="{% static 'vitrine/assets/img/img1.jpg' %}" class="img-fluid rounded" alt="Portrait équipe">
          </div>
          <div class="col-lg-6">
            <div class="row gy-4">
              <div class="col-lg-12">
                <img src="{% static 'vitrine/assets/img/img2.jpg' %}" class="img-fluid rounded" alt="Partage sécurisé">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
